
<section class="findItem">
    <h1>Find new Item:</h1>
    
    <mat-form-field>
        <input matInput color="primary" placeholder="Item title" #itemTitle>
        <strong id="output"></strong> 
    </mat-form-field>
    <br>
    <button matRipple mat-raised-button color="primary" (click)="findItem(itemTitle.value)">Find that item!</button>
</section>

<section class="create-content">
    <app-create-content [startingId]="contentList.length" (newEvent)="addToList($event)"></app-create-content>
</section>

<section class="news">
    <h2>NEWS</h2>
    <app-content-card *ngFor="let content of contentList | filterTags:'news'; first as isFirst; last as isLast" [content]="content" [class.is-first]="isFirst" [class.is-last]="isLast" class="news"></app-content-card>
</section>

<section class="story">
    <h2>Story</h2>
    <app-content-card *ngFor="let content of contentList | filterTags:'story'; first as isFirst; last as isLast" [content]="content" [class.is-first]="isFirst" [class.is-last]="isLast" class="story"></app-content-card>
</section>
