div {
    border: 3px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

:host.news div {
    border-color: green;
}

:host.story div { 
    border-color: blue;
}

:host.is-last > div {
    border-width: 5px;
}

.imgContainer {
    border-width: 1px;

    img {
        width: 50px;
    }
}

